.root{
    -fx-background-color:"#2F2F2F" ; 
   
}
.buttonInPanel{
    -fx-background-color:#E38B29; 
}

.carte_livre{
    -fx-background-color : #ffffff;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(65, 65, 65, 0.8), 10, 0, 0, 0);

}
.textofcarte{
    -fx-text-fill:#ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 13px ;
    -fx-font-style : italic;
}


.outline.label .text {
    -fx-font-weight:bold;
    -fx-font-style:italic;
    -fx-font-size: 30px;
    -fx-fill: #E38B29;
    -fx-stroke: #000000;
    -fx-stroke-width: 1.1px;
}  


.pane_1{
    -fx-border-style: solid; 
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-color: #222222;
    -fx-background-color:#222222;
   
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    
}
.pane_2{
    -fx-background-color:#222222;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #222222;
}
.pane_3{
    -fx-background-color:#222222;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #222222;
}
.pane_4{
    -fx-background-color:#222222;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #222222;
}
.pane_all:hover{
    -fx-border-color:#E38B29;
}
.pane_left{
    -fx-background-color:#222222;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #E38B29; 
}
.pane_right{
    -fx-background-color:#222222;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #E38B29; 
}



