.buttonn {
  -fx-background-color:transparent;
  -fx-font-weight: bold;
  -fx-text-fill: #ffffff;
  -fx-cursor : "HAND";

}

.buttonn:hover {
  -fx-background-color:#E38B29;
  -fx-text-fill: #222222;
}
.logout_button {
  -fx-background-color:transparent;
  -fx-cursor : "HAND";
}
.besoin_aide {
  -fx-cursor : "HAND";
  -fx-font-weight: bold;
  -fx-background-color:transparent;
}
.besoin_aide:hover {
  -fx-text-fill:#E38B29;

}
.textfield{
 
  -fx-background-color: #222222;
  -fx-text-fill:#a3a09d;
  -fx-font-weight: bold;
 
  
  
 
}
.textfield:focused {
 
  -fx-background-color: #222222;
 
  -fx-border-width :1.5px ;
  -fx-border-radius: 5 ;
  -fx-border-color : #E38B29 ;
  
  
}
.xbutton{
  -fx-background-color:transparent;
  -fx-text-fill: #8A8A8A ;
}
.xbutton:hover{
  -fx-text-fill: #ffffff;
  -fx-background-color:#e21e1e;
}
.connecter{
  -fx-cursor : "HAND";
  -fx-background-color:  #E38B29 ;
}
